table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: coral;
}

.modal-user-container {
    .modal-content {
        .modal-header {
            button {
                background-color: transparent !important;
                color: white;
                border: none;
                font-size: 27px;
            }
        }
    }

    .modal-user-body {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;


        .input-container {
            display: flex;
            flex-direction: column;
            width: 48%;

            &.max-width-input {
                width: 100%;
            }

            input {
                border-radius: 3px;
                border: 1px solid grey;
                height: 30px;
                outline: none;
                padding: 0 10px;
            }
        }
    }
}